//colores
$white: #fff;
$platinum: #e6e7e7;
$light-gray: #d1d1d1;

$fuzzy-wuzzy: #e56353;
$ruddy-pink: #d76c69;
$spanish-pink: #ecbcba;

$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;

// Fuentes
$playfair-display: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// Pesos de fuentes
$fs-light: 300;
$fs-regular: 400;
$fs-black: 900;

// Tamaños de fuente
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;